
    <div class="card-header d-flex justify-content-between">
      <div>
        <span class="h6">{{title}}</span>
      </div>
      <form class="d-flex align-items-center">
        <span class="mr-2 text-muted text-small text-nowrap">Sort by:</span>
        <select class="custom-select">
          <option value="alpha">Alphabetical</option>
          <option value="old-new" selected>Newest</option>
          <option value="new-old">Popular</option>
          <option value="recent">Recently Updated</option>
        </select>
      </form>
    </div>
    <!--end of row-->
    <ul class="row feature-list feature-list-sm">

      <li *ngFor="let movie of currentPageItems" class="col-12 col-md-6 col-lg-4">
        <a routerLink="{{movie.id}}">
        <div class="card">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{movie.original_title}}</h4>
          </div>
          <div class="card-footer card-footer-borderless d-flex justify-content-between">
            <div class="text-small">
              <ul class="list-inline">
                <li class="list-inline-item"><i class="icon-heart"></i> <code>{{movie.vote_average}}</code></li>
              </ul>
            </div>
          </div>
        </div>
        </a>
      </li>
      <!--end of col-->
    </ul>
    <!--end of row-->

<div class="d-flex justify-content-center">

  <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>

</div>
