<div class="card">
    <div class="card-body">
        <form class="mb-4">
            <input class="form-control" placeholder="Search" type="search" name="search-conversations" />
        </form>
        <nav class="nav flex-md-column">
            <a href="#" class="nav-link active">
                All
            </a>
            <a href="#" class="nav-link">
                <span class="badge badge-indicator badge-success mr-1">&nbsp;</span>On track
            </a>
            <a href="#" class="nav-link">
                <span class="badge badge-indicator badge-warning mr-1">&nbsp;</span>Falling behind
            </a>
            <a href="#" class="nav-link">
                <span class="badge badge-indicator badge-danger mr-1">&nbsp;</span>Needs attention
            </a>
            <a href="#" class="nav-link">
                <span class="badge badge-indicator badge-secondary mr-1">&nbsp;</span>Archived
            </a>
        </nav>
    </div>
</div>
