<div class="card-header bg-secondary d-flex justify-content-between align-items-center">
    <div>
        <h6>Movies by category</h6>
    </div>
    <form class="d-flex align-items-center">
        <span class="mr-2 text-muted text-small text-nowrap">Category by:</span>
        <select class="custom-select">
            <option value="old-new" selected>Default</option>
            <option value="new-old">Name</option>
            <option value="most">Size</option>
        </select>
    </form>
</div>
