<div class="card card-sm">
    <div class="card-header">
        <span class="h6">Categories</span>
    </div>
    <div class="list-group list-group-flush">

        <a class="list-group-item d-flex justify-content-between" href="#">
            <div>
                <i class="icon-area-graph mr-1"></i>
                <span>Analytics</span>
            </div>
            <div>
                <i class="icon-chevron-right"></i>
            </div>
        </a>

        <a class="list-group-item d-flex justify-content-between" href="#">
            <div>
                <i class="icon-power-plug mr-1"></i>
                <span>API Integration</span>
            </div>
            <div>
                <i class="icon-chevron-right"></i>
            </div>
        </a>

        <a class="list-group-item d-flex justify-content-between" href="#">
            <div>
                <i class="icon-credit-card mr-1"></i>
                <span>Billing</span>
            </div>
            <div>
                <i class="icon-chevron-right"></i>
            </div>
        </a>

        <a class="list-group-item d-flex justify-content-between" href="#">
            <div>
                <i class="icon-code mr-1"></i>
                <span>Development</span>
            </div>
            <div>
                <i class="icon-chevron-right"></i>
            </div>
        </a>

        <a class="list-group-item d-flex justify-content-between" href="#">
            <div>
                <i class="icon-shield mr-1"></i>
                <span>Security</span>
            </div>
            <div>
                <i class="icon-chevron-right"></i>
            </div>
        </a>

        <a class="list-group-item d-flex justify-content-between" href="#">
            <div>
                <i class="icon-folder mr-1"></i>
                <span>Storage</span>
            </div>
            <div>
                <i class="icon-chevron-right"></i>
            </div>
        </a>

    </div>
</div>
