<!--end of section-->
<footer class="footer-short">
    <div class="container">
        <hr>
        <nav class="row justify-content-between align-items-center">
            <div class="col-auto">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#">
                            <img alt="Image" src="assets/img/logo-gray.svg" />
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Overview</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Documentation</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Changelog</a>
                    </li>
                </ul>
            </div>
            <!--end of col-->
            <div class="col-auto text-sm-right">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#"><i class="socicon-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="socicon-facebook"></i></a>
                    </li>
                </ul>
            </div>
            <!--end of col-->
        </nav>
        <!--end of row-->
        <div class="row">
            <div class="col">
                <small>&copy; 2018 Medium Rare All Rights Reserved</small>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
